.container {
    padding: 50px 0px;
}

.body__title {
    text-align: center;
    color: #0c519b;
    font-size: 45px;
    font-weight: bold;
}

.body__subtitle {
    text-align: center;
    color: #ee7e02;
    font-size: 35px;
    margin: 0px 0px 50px;
    font-weight: bold;
}

.zoomImage__imageContainer {
    width: 100%;
    overflow: hidden;
}

.zoomImage__image {
    max-width: 100%;
    transition: 0.4s;
}

.zoomImage__image:hover {
    transform: scale(1.05);
}

/* sideImage.js */

.sideImage__container {
    display: flex;
    justify-content: space-between;
    margin: 50px 0px;
}

.sideImage__imageContainer {
    width: 45%;
}

.sideImage__image {
    width: 100%;
}

.sideImage__image__bottom {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

/* bodyText.js */

.bodyText {
    line-height: 2;
    font-weight: 500;
}

/* handglassCell.js */
.dropbar {
    background-color: #72ab1a;
    color: white;
    padding: 12px 20px 12px 40px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0px 10px;
    transition: 0.4s;
}

.dropbar__icon {
    color: white;
}

.dropbar:hover {
    background-color: #0c519b;
    cursor: pointer;
}

.handglassCell {
   width: 100%;
   height: 100%;
   position: relative;
   overflow: hidden;
}

.handglassCell:hover {
    cursor: pointer;
}

.handglassCell__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 0.4s;
    display: block;
    backface-visibility: hidden;
    opacity: 1;
}

.handglassCell__glassContainer {
    transition: 0.5s;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.handglassCell__glass {
   color: white;
   font-size: 200%;
}

.handglassCell:hover .handglassCell__image {
    filter: brightness(30%);
    transform: scale(1.05);
}

.handglassCell:hover .handglassCell__glassContainer {
    opacity: 1;
}

/* handglassGrid.js */
.handglassGrid {
   display: grid;
   width: 100%;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
   grid-auto-rows: 120px;
   justify-content: space-between;
   row-gap: 20px;
   column-gap: 25px;
   overflow: hidden;
}

@media only screen and (max-width: 1100px) {
    /* .handglassGrid {
        grid-auto-rows: 200px;
    } */
}

@media only screen and (max-width: 800px) {
    .handglassGrid {
        grid-template-columns: repeat(2, 1fr); 
        grid-auto-rows: 180px;
    }
}

@media only screen and (max-width: 600px) {
    .handglassGrid {
        grid-auto-rows: 140px;
    }
}