/* headInfo.js */
.headInfo {
    margin: -20px 0px 30px;
}

.headIcon__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    margin: 70px 0px 60px;
}

.headIcon__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headIcon__text {
    color: #f7821f;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

.headText {
    width: 100%;
    margin: 30px 0px 60px;
    text-align: center;
}

.headText__subtitle {
    color: #f7821f;
    font-weight: bold;
    margin-bottom: 7px;
}

.headText__title {
    color: #0c519b;
    font-size: 1.75rem;
    font-weight: bold;
}

.headText__body {
    margin: 20px 0px 10px 0px;
    line-height: 2;
}

.headText__body__bold {
    font-weight: bold;
}

.headButton {
    background-color: #0c519b;
    padding: 15px 30px;
    color: white;
    display: table;
    margin: 20px auto;
    transition: 0.4s;
}

.headButton:hover {
    background-color: #f7821f;
    cursor: pointer;
}

/* body.js */
.body {
    margin: 30px 0px 30px;
}

.body__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    column-gap: 30px;
    row-gap: 80px;
}

.body__image {
    max-width: 100%;
}

.body__title {
    color: #f7821f;
    font-weight: 700;
    font-size: 1.75rem;
}

.body__body {
    line-height: 2;
    font-size: 1rem;
    margin: 20px 0px;
}

.body__button {
    background-color: #0c519b;
    padding: 15px 30px;
    color: white;
    transition: 0.4s;
    display: table;
}

.body__button:hover {
    background-color: #f7821f;
    cursor: pointer;
}

/* tailInfo.js */
.tailInfo {
    margin: 70px 0px -10px;
}

.tailIcon__image {
    display: table;
    margin: 0px auto 15px;
}

.tailInfo__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    column-gap: 30px;
    row-gap: 80px;
}

.tailIcon__info {
    line-height: 2;
    margin-top: 15px;
    font-size: 1rem;
}

.tailInfo__iconName {
    color: #f7821f;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

.tailInfo__title {
    color: #0c519b;
    font-size: 1.75rem;
    text-align: center;
    font-weight: bold;
}

.tailInfo__subtitle {
    text-align: center;
    line-height: 1.5;
    margin: 10px 0px 50px;
}

@media only screen and (max-width: 1100px) {
    .headIcon__grid {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        row-gap: 30px;
    }

    .body__grid {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
        row-gap: 30px;
    }

    .body__text {
        margin-bottom: 30px;
    }

    .body__grid__cell:nth-child(1) {order: 1;}
    .body__grid__cell:nth-child(2) {order: 2;}
    .body__grid__cell:nth-child(3) {order: 4;}
    .body__grid__cell:nth-child(4) {order: 3;}
    .body__grid__cell:nth-child(5) {order: 5;}
    .body__grid__cell:nth-child(6) {order: 6;}
}

@media only screen and (max-width: 800px) {

    .tailInfo__grid {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
        row-gap: 30px;
    }
}