@charset "utf-8";
@import "./reset.css";

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
        Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.inner__container {
    width: 1100px;
}

.image__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.click {
    width: 98%;
}

.click:hover {
    cursor: pointer;
    color: #0c519c;
}

/* 콘텐트 내용 */

h1,
h2 {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    font-size: 32px;
    color: #0c519b;
    font-weight: 600;
    line-height: 39px;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 24px;
}

h3 {
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: #ef7200;
    font-weight: 600;
    line-height: 39px;
}

p {
    color: #505050;
    font-size: 16px;
    line-height: 27px;
    font-style: normal;
    font-weight: 400;
}

ul {
    list-style: disc;
    line-height: 27px;
}

/* MOBILE */
@media only screen and (max-width: 1100px) {
    .inner__container {
        width: 100%;
        margin-left: 8vw;
        margin-right: 8vw;
    }
}
