.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    justify-items: center;
    align-content: center;
}

.grid_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.grid_item i {
    font-size: 64px;
    color: #0c519b;
}
