.footer {
    color: #eeeeee;
}

.footer ul {
    list-style: none;
    line-height: 16px;
    padding: none;
}

.footer_top {
    background-image: url("../../image/footer/footerbg.png");
    background-size: cover;
}

.footer_top__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    padding: 72px 0px 52px 0px;
}

.footer_top__menu_items {
    padding: 0px 0px 17px 0px;
}

.footer_top__menu_items > i {
    color: #15aac0;
}

.footer_top__grid h5 {
    padding: 17px 0px 17px 0px;
    font-size: 17px;
    font-weight: 600;
}

.footer_bottom {
    background-color: #0c519c;
}

.footer_bottom__title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 53px;
}

.flex {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.box {
    padding: 5px 10px;
    border: #eeeeee solid 1px;
}

.select {
    padding: 3px 10px;
}

.select:focus {
    outline: none;
}
