/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */

@-webkit-keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
        opacity: 0.1;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
        opacity: 0.1;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

/* PC */
.header {
    position: fixed;
    z-index: 100;
    width: 100%;
    display: grid;
    grid-template:
        "header__top__container" min-content
        "header__bottom" min-content
        / 1fr;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.header__top {
    background-color: #0c519c;
    box-sizing: border-box;
    color: #eeeeee;
}

.header__top__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
    grid-auto-rows: 50px;
    align-items: center;
}

.header__top__container__right {
    justify-self: flex-end;
}

.header__top__container__right > i {
    font-size: 18px;
    margin-right: 10px;
}

.header__bottom {
    background-color: white;
}

.menu__top > i {
    display: none;
}

.menu__top {
    position: relative;
    width: 320px;
    height: 80px;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu__bottom {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 50;
}

.menu__bottom div {
    white-space: nowrap;
}

.menu__bottom i {
    display: none;
}

.menu__bottom__container {
    position: relative;
    display: flex;
    justify-content: center;
}

.menu__bottom__subtitle__container {
    position: absolute;
    width: 225px;
    top: 100%;
    left: 0px;
    background-color: ghostwhite;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.menu__bottom__subtitle > div {
    padding: 15px;
}

.menu__bottom__subtitle:not(:last-child) > div {
    border-bottom: 1.5px rgb(38, 57, 77, 0.2) solid;
}

.menu__button {
    display: flex;
    padding: 0px 25px 0px 25px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}

/* MOBILE */
@media only screen and (max-width: 1100px) {
    .header {
        position: relative;
    }

    .menu__bottom__subtitle > div,
    .menu__bottom__subtitle__container,
    .menu__button {
        all: revert;
    }

    .menu__bottom__subtitle__container {
        height: 170px;
    }

    .menu__top {
        display: block;
        width: auto;
        height: auto;
    }

    .header__top__container {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .header__top__container__right {
        justify-self: center;
    }

    .menu {
        display: flex;
        flex-direction: column;
    }

    .menu__bottom i {
        display: block;
    }

    .menu__top {
        display: grid;
        grid-template-columns: 1fr 200px 1fr;
        grid-template-rows: 74px;
        align-items: center;
    }

    .menu__top > div {
        justify-self: center;
    }

    .menu__top > i {
        display: block;
        font-size: 18px;
    }

    .menu__bottom {
        display: flex;
        gap: 0px;
        flex-direction: column;
        align-items: stretch;
        padding-bottom: 20px;
    }

    .menu__bottom__subtitle:not(:last-child) > div {
        border-bottom: none;
    }

    .menu__bottom__container {
        justify-content: normal;
        align-items: stretch;
        height: auto;
        padding: 0px;
        display: flex;
        flex-direction: column;
    }

    .menu__bottom__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1.5px black solid;
        height: 33px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .menu__bottom__title > i:hover {
        cursor: pointer;
    }

    .menu__bottom__subtitle__container {
        margin-left: 33px;
        -webkit-animation: none;
        animation: none;
    }

    .menu__bottom__subtitle {
        display: flex;
        box-sizing: border-box;
        align-items: center;
        border-bottom: 1.5px black solid;
        width: 100%;
        height: 33px;
    }

    .no_border {
        border: transparent;
    }

    .hidden {
        display: none;
    }
}
