.body {
    width: 100%;
    padding: 50px 0px;
}

.body__washingImage {
    width: 100%;
}

.title {
    text-align: center;
    font-size: 30px;
    color: #0c519b;
}

.subtitle {
    text-align: center;
    font-size: 23px;
    color: #ef7e00
}